#mapid2 {
    height: 500px;
    max-width: 660px;
    margin: auto;
    }
#pr {
    max-width: 500px;
    margin: auto;
    font-size: 10pt;

}
h1, h3 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-weight: bold;
}
h3 {
    font-size: 12pt;
    font-
}
p {
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
    max-width: 650px;
    margin: auto;
}
body {
    margin: 50px;
}
